/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{font-family: arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;}
a{
	text-decoration: none;
	color:rgb(117, 117, 117);
}

body{
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
	width: 100%;
	
	
}
.hh{
	
	position:static;
	z-index: 5;
}
.callarea{
    width: 10rem;
    height: 10rem;
    background-color: rgb(78, 177, 139);
    text-align: center;
    position:fixed;
	z-index: 100;
	display: inline;
	bottom: 1rem;
	right: 1rem;
	border-radius: 0.3rem;
   
}
.callarea h1{
    position: absolute;
    left: 0;
    right: 0;
   bottom:3.5rem;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: monospace;
    
}
.callarea p{
    position: absolute;
    left: 0;
    right: 0;
    bottom:2rem;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.num{
    color: aliceblue;
}


@media(min-width:421px){
	.callbar{
		height: 10rem;
		width: 80rem;
		background-color: rgb(232, 232, 232);
		
		margin: 0 auto;
	}
    
	.hh{
		
		height:30rem;
        margin: 0 auto;
	}
	
	
	img{
		display: block;
	}
	.brand-title{
		padding:25px;
		padding-left: 27px;
		background-color: rgb(255, 255, 255);
		position: relative;
	}
	.rrr2 ul{
		display:flex;
		position: absolute;
		right:1.3rem;
		top:4.1rem;
		
	  }
	.rrr2 li{
		padding-right: 1.5rem;
		padding-left: 1.5rem;
		font-weight: 600;
		color: rgb(63, 63, 63);
		position: relative;
	

	  }
	  .rrr2 li a{
		display: block;
		height: 100%;
		width:100%;
		position: absolute;
		left: 0;
		right: 0;
		
	  }
	 
	
	button {
		display: none;
	  }
	  
	  
	  .owl-stage-outer{
		height:30rem;
	  }
	  .owl-stage img{
		height:30rem;

	  }
	  
	  .picbox-pc p{
		position: absolute;
		left:1.5rem;
		bottom: 2rem;
		font-weight: 600;
		font-size: 2rem;
		color: rgb(255, 255, 255);

	  }
	  .mobile-bg{
		display: none;
	  }
	
 
}




@media(max-width:420px){
	
	.mobile-bg{
		width: 100%;
		height: calc(35vh);
		
		background: url(iimg/bg1.png) no-repeat 50% 50% ;
		background-size: cover;
		position: relative;
		z-index: 99;
		text-align: left;

	}
	.mobile-bg h1{
		font-weight: 600;
		font-size: 1.5rem;
		color: rgb(255, 255, 255);
		padding-bottom: 0.5rem;
		position: absolute;
		bottom: 1.4rem;
		left: 1rem;
		
	}
	.mobile-bg p{
		font-weight: 500;
		font-size: 1rem;
		color: rgb(255, 255, 255);
		position: absolute;
		bottom: 0.6rem;
		left: 1rem;
		

	}
	
	  .brand-title{
		padding: 5%;
		padding-left: 6%;
	  }

	.banner{
		width: 100%;
		height: calc(40vh);
		background: url(iimg/bg1.png) no-repeat 50% 50% ;
		background-size: cover;
		position: relative;
		z-index:2;
	}
	
	  
	  ul {
		display: none;
	  }
	  
	  .show {
		display:block;
		padding-top: 10%;
	  }
	  .picbox-pc p{
		position: absolute;
		bottom: 1rem;
		left: 1rem;
		color: rgb(255, 255, 255);
		font-weight: 600;
	  }
	
	  
	  @media only screen and (min-width: 800px) {
		.owl-item{
			width: 100vh;
		}
		ul {
		  display: block;
		}
		button {
		  display: none;
		}
	  }
	  button {
		opacity:0;
		position: absolute;
		right:1rem;
		top: 1.4rem;
		

		border: none;
		display: inline;
	  }
	  
	  button span {
		display: none;
	  }
	  .rrr{
		position: fixed;
		right:1.5rem;
		top: 1.6rem;
	  }
	  .rrr img{
		width: 2.5rem;
		height: 2.5rem;
	  }
	.rrr2{
		position: absolute;
		right:-0.1rem;
		top: 5rem;
		z-index: 300;
		background-color: rgb(255, 255, 255);
		width: 10rem;
		text-align: center;
	}
	.show li{

		font-weight: 600;
		font-size:1.5rem;
		color: rgb(93, 93, 93);
		position: relative;
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;

	}
	.show a{
		display:block;
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.picbox p{
		position: absolute;
		left:1rem;
		bottom: 1rem;
		font-weight: 600;
		color: rgb(255, 255, 255);
		

	  }

	  section{
		display:table-column;
		place-items: center;
		align-content: center;
		height: 60vh;
		
	}
	  


	

}
section{
    display: grid;
    place-items: center;
    align-content: center;
    height: 60vh;
	
}
.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100px)
}

.show{
    opacity: 1;
    transform: translateX(0px);
    
}
.logos{
    display: flex;
    margin: 0 auto;
    
}
.logo img{
    width: 300px;
    border-radius: 25px;
    padding: 5px;
}

.logo:nth-child(2){
    transition-delay: 200ms;
}
.logo:nth-child(3){
    transition-delay: 400ms;
}
.logo:nth-child(4){
    transition-delay: 600ms;
}
.logo:nth-child(5){
    transition-delay: 800ms;
}
.logo:nth-child(6){
    transition-delay: 1000ms;
}
