
body{font-family: HELVETICA,"Noto Sans Traditional Chinese",sans-serif !important;}

html,
  body{
    width:100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #00A99D, #AAB9FF);;
  }

  
  

img{display: block;}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.sp0{
    width: 100%;
    height: 30%;
    
    display: flex;
}
.sp1 :nth-child(2){
    height: 20vh;
    background-color: #00A99D;
}

.sp1{
    height: 100vh;
    
    width: 50%;
}
.sp1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sp1 h1{
        
    color: #ffffff;
    font-size: 4rem;
    padding-top: 45vh;
    padding-bottom: 1vh;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    
    

}


.talk{
    background-color: #ffffff;
    width: 80%;
    height: 80vh;
    border-radius: 1rem;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
   
    
    
    
    
}
.talk img{
    border-radius: 2rem;
    padding: 1rem;
    
}



@media(max-width:858px){

    .sp0{
        width: 100%;
        height: 100%;
        
        display: grid;
    }
    .sp1{
        
            width: 100%;
            height:70vh;
            text-align: center;
            
    }
    .sp0 :nth-child(2){
        height: 30vh;
        
    }

    
    
    
    
    .sp1 h1{
        
        color: #ffffff;
        font-size: 2rem;
        padding-top: 2vh;
        padding-bottom: 1vh;

    }
    .talk{
        
        width: 80%;
        height: 50vh;
        border-radius: 1rem;
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10%;
       
        
        
        
        
    }

    
}
