.inani{
    height: 100vh;
    transition:1.8s;
    display: flex;
    background-color: #f7f6f6;
    background-image: url(iimg/op1.svg),url(iimg/op2.svg);
    background-size: 200%,50%;
    background-repeat: no-repeat,repeat;
    background-position: top  ,top;
    
    
    
  }

  .inani2 {
    transition: 1.8s;
    
    background-size: 300%,40%;
    background-repeat: no-repeat, repeat-x;
    background-position: bottom -4rem right 20rem ,bottom -5rem left;
  }



  @media(max-width:858px){

  .inani{
    transition:1.8s;
    display: flex;
    background-image: url(iimg/op1.svg),url(iimg/op2.svg);
    background-size: 350%,90%;
    background-repeat: repeat;
    background-position:right -22rem top ,top;
    
    
  }
  .inani2{
    transition:1.8s;
    
   
    
    background-size: 350%,90%;
    background-repeat: no-repeat, repeat;
    background-position: bottom  right ,bottom left;
    
    
    
    
  }

}